<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free Restaurant Catalogue For You">
  <meta name="theme-color" content="#DB0000" />

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">

  <title>Restaurant - F515X1090</title>
</head>

<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">
        RestaurAzis
      </h1>
    </div>
    <!-- menu -->
    <button id="menu" class="header__menu">☰</button>
  </header>

  <!-- drawer -->
  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="/#/favorite">Favorite</a></li>
      <li class="nav__item"><a href="https://www.linkedin.com/in/azis-nur-fajar-230928224/">About Us</a></li>
    </ul>
  </nav>

  <!-- hero -->
  <div id="hero" class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Welcome To Restaurant F515X1090</h1>
      <p class="hero__tagline">Please Choose Your Favorite Food </p>
      <a href="#mainContent" class="btn">Read More</a>
    </div>
  </div>
  <!-- main-content -->
  <main tabindex="0" id="mainContent"></main>
  <footer>
    <h3>Copyright © 2022 Submission Katalog Restoran PWA</h3>
  </footer>
</body>

</html>